{%extends 'base.html' %}
{% load static  %}

{% block title %}shop{% endblock %}
{% block links %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'styles.css' %}">
{% endblock %}
{% block body %}
<style>
    .bg-dark {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
</style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
        function getRandomItems() {
            $.ajax({
                url: '/get_random_items/', // Replace with the actual URL to fetch random items
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    var items = data.items;

                    // Set background image
                    var randomIndex = Math.floor(Math.random() * items.length);
                    var randomImage = items[randomIndex].imageUrl1;
                    $('.bg-dark').css('background-image', 'url(' + randomImage + ')');
                },
                error: function(xhr, textStatus, error) {
                    console.log(error);
                }
            });
        }

        getRandomItems();
        setInterval(getRandomItems, 10000);
    });
</script>

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop homepage template</p>
        </div>
    </div>
</header>


<!-- Section-->

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for item in items %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="{{item.imageUrl1}}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ item.name }}</h5>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">$50.00</span>
                            {{item.price}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'itemdescription' item_id=item.name%}">Veiw Item</a></div>
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'addtocart' %}">Add to cart</a></div>
                        
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

    
{% endblock %}